{% extends 'base.html' %}

{% block 'conteudo' %}




<div class="container" style="background-color: #ffffff;">
    <div class="row">
        {% for profissionais in profissional %}
            <div class="col-md">
                <div class="card" style="width: 18rem; background-color: #00FFFF;" >
                    <div class="card-body">
                      <h5 class="card-title">Nome: {{profissionais.nome}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{profissionais.cidade}} {{profissionais.estado}}</h6>
                      <p class="card-text">Telefone: {{profissionais.telefone}}</p>
                      <p class="card-text">Especialidade(s){{profissionais.especialidades}}</p>                 
                      <a href="{% url 'ver_profissional' profissionais.id %}" class="btn  btn-dark">Acessar</a>
                    </div>
                  
                </div>    
            </div>             
            
        {% endfor %}
    
    </div>
</div>


{% endblock %}






