{% extends 'base.html' %}

{% block 'conteudo'%}

<div class="card border-info mb-10;" style="max-width: 18rem; margin: 100px 300px; max-width: 50%;padding: auto;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nome: {{profissional.nome}}</li>
      <li class="list-group-item">Telefone: {{profissional.telefone}}</li>
      <li class="list-group-item">Cidade: {{profissional.cidade}}</li>
      <li class="list-group-item">Estado: {{profissional.estado}}</li>
      <li class="list-group-item">Data cadastro:  {{profissional.data_cadastro}}</li>
      <p class="card-text" style="padding: 0 21px;"> {{profissional.descricao}}</p>
    </ul>

    
    
  
</div>  


{% endblock%}