{% extends 'base.html' %}
{% load static %}

{% block 'conteudo'%}  

<h1 style="font-size:60px ;text-align: center; padding:20px ;">{{profissional.nome}}</h1>

<div class="card border-dark mb-3;" style="max-width: 18rem; margin: 100px 300px; max-width: 100%;padding:auto; margin-top: 10px; background-color: #00FFFF;">
    <ul class="list-group list-group-flush" style="background-color:#00FFFF;">
      
      <li class="list-group-item" style="background-color:#00FFFF; font-size: 18px;">Telefone: {{profissional.telefone}}</li>
      <li class="list-group-item" style="background-color:#00FFFF; font-size: 18px;">Cidade: {{profissional.cidade}}</li>
      <li class="list-group-item" style="background-color:#00FFFF; font-size: 18px;">Estado: {{profissional.estado}}</li>
      <li class="list-group-item" style="background-color:#00FFFF; font-size: 18px;">Data cadastro:  {{profissional.data_cadastro}}</li>
      <p class="card-text" style="padding: 0 21px; font-size: 18px;"> {{profissional.descricao}}</p>
    </ul>    
</div>

{% endblock%}


