{% extends 'base.html' %}


{% block 'titulo' %}Login{% endblock %}
<body>
    


{% block 'conteudo' %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <br>
    {% if status == '1' %}
    <div class="alert alert-danger" role="alert">
        email ou senha invalidos
        </div>
    {% endif %}
    {% if status == '2' %}
    <div class="alert alert-danger" role="alert">
        Faça login antes de acessar o sistema
        </div>
    {% endif %}
   

    

    <div class="row">
        <div class="col-md-3">
            
        </div>
        <div  class="col-md" style="padding:25px;">
            <h1>Login</h1>
            <hr>

            <form method="POST" action="{% url 'valida_login'%}" style="padding:10px 10px;">{% csrf_token %}

                <label>Email</label>
                <input name="email" class="form-control" type="text" placeholder="Email...">
                <br>
                <label>Senha</label>
                <input name="senha"  class="form-control" type="password" placeholder="Senha...">
                <br>
                <input class="btn btn-outline-secondary" type="submit" value="Enviar">
                <a href="{% url 'inserir' %}"class="btn btn-outline-dark">Cadastro</a>


            </form>
        </div>
        <div class="col-md-3">
            
        </div>

    </div>

</div>

</body>
 



{% endblock %} 